.card {
  box-sizing: border-box;
  background-color: rgba(22, 19, 190, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.banned-section {
  display: flex;
  flex-direction: column;
}
